@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<p> @Model.Name's Clients</p>
@foreach (Client client in Model.Clients)
{
  @client.Name
}
</p>
<button class="btn-blue"> @Html.ActionLink("Add Client", "Create", "Clients") </button>
