@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h5>Stylists</h5>
<ul>
@foreach (Stylist stylist in Model)
  {
    <li> @Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId}) </li>
  }
</ul>
<button class="btn-blue"> @Html.ActionLink("Add Stylist", "Create") </button>
<!-- <button class="btn-red"> @Html.ActionLink("Remove Stylist", "Delete") </button> -->