@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Stylists</h3>
<ul>
@foreach (Stylist stylist in Model)
  {
    <li> @Html.ActionLink($"{stylist.Name} -- {stylist.Description}", "Details", new {id = stylist.StylistId}) </li>
  }
</ul>
<button class="btn-primary"> @Html.ActionLink("Add Stylist", "Create") </button>