@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Please remove or move all clients from this stylist and try that action again.</h2>
<button class="btn-purple">@Html.ActionLink("Back", "Index")</button>