body {
  background-image: url("../media/background.jpg");
  background-repeat: repeat;
}
p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}
.btn-purple
{
  background-color: white;
  border: 2px solid purple;
}
.btn-blue
{
  background-color: white;
  border: 2px solid blue;
}
.btn-red
{
  background-color: white;
  border: 2px solid red;
}
.btn-red :any-link, .btn-blue :any-link, .btn-purple :any-link
{
  color: black;
  text-decoration: none;
}
ul {
  text-align: left;
  padding-left: 5px;
}

li {
  list-style-type: none;
}

#client-box {
  padding: 5px;
  border: solid black;
  margin-bottom: 5px;
  height: 150px;
  overflow: auto;
}

#search-clients {
  background-image: url('../media/search-icon.png'); 
  background-repeat: no-repeat; 
  background-size: 18px 18px;
  background-position: 5px 5px;
  width: 90%;
  height: 30px; 
  font-size: 14px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd;
  margin-bottom: 12px; 
}

#staff-picture {
  height: 150px;
  width: 150px;
  border: dotted black;
}
#center-image {
  margin-right: 9px;
  float: left;
}

#bigger-text-box {
  height: 200px;
  width: 300px;
}