@{
  Layout = "_Layout";
}

<p>Here's some controller testing:</p>

<button class="btn-blue">@Html.ActionLink("Stylists", "Index", "Stylists")</button>
<button class="btn-purple">@Html.ActionLink("Clients", "Index", "Clients")</button>