@{
  Layout = "_Layout";
}

<h5>Eau Claire's Salon Employee/Client Database</h5>

<button class="btn-blue">@Html.ActionLink("View Stylists", "Index", "Stylists")</button>
<button class="btn-purple">@Html.ActionLink("View All Clients", "Index", "Clients")</button>