@{
  Layout = "_Layout";
}

<p>Browse by:</p>

<button class="btn-blue">@Html.ActionLink("Stylist", "Index", "Stylists")</button>
<!-- <button class="btn-purple">@Html.ActionLink("Client", "Index", "Clients")</button> -->