@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to remove this client?</h2>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
<br>
<small class="form-text text-muted"> This action can not be reversed.</small>
<br>
@using (Html.BeginForm())
{
  <button class="btn-purple">@Html.ActionLink("Back", "Index")</button>
  <input type="submit" class="btn-red" value="Delete" />
}